<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-simple-notification" version="0.0.1">
    <name>Simple Notification</name>
    <description>Cordova Simple Notification Plugin by Johannes Kreutz</description>
    <license>Apache 2.0</license>
    <keywords>cordova,simple,notification,apns,fcm</keywords>
    <js-module src="www/simplenotification.js" name="simplenotification">
        <clobbers target="simplenotification" />
    </js-module>
    <dependency id="cordova-plugin-device" version="~2.0.2" />
    <platform name="ios">
        <dependency id="cordova-plugin-add-swift-support" version="~1.7.2" />
        <config-file target="config.xml" parent="/*">
            <feature name="CDVSimpleNotification">
                <param name="ios-package" value="CDVSimpleNotification"/>
            </feature>
        </config-file>
        <!-- Bridging header for using ObjetiveC libraries in Swift -->
        <header-file src="src/ios/cordova-plugin-simplenotification-Bridging-Header.h" />
        <!-- Native callbacks attached to AppDelegate -->
        <source-file src="src/ios/AppDelegate+SimpleNotification.swift" />
        <!-- Main logic -->
        <source-file src="src/ios/SimpleNotification.swift" />
    </platform>
    <platform name="android">
        <dependency id="cordova-support-google-services" version="~1.2.1"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CDVSimpleNotification">
                <param name="android-package" value="com.jkmsoftware.simplenotification.CDVSimpleNotification"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.jkmsoftware.simplenotification.FirebaseCloudMessagingService">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>
            <service android:name="com.jkmsoftware.simplenotification.PushInstanceIDListenerService">
                <intent-filter>
                    <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
                </intent-filter>
            </service>
        </config-file>
        <framework src="com.android.support:support-v13:28.0.+"/>
        <framework src="com.google.gms:google-services:4.2.0" />
        <framework src="com.google.firebase:firebase-core:16.0.7" />
        <framework src="com.google.firebase:firebase-messaging:17.3.4" />
        <framework src="com.google.code.gson:gson:2.8.5" />
        <!-- Main logic -->
        <source-file src="src/android/CDVSimpleNotification.java" target-dir="src/com/jkmsoftware/simplenotification" />
        <!-- Message listener -->
        <source-file src="src/android/FirebaseCloudMessagingService.java" target-dir="src/com/jkmsoftware/simplenotification" />
        <!-- Token listener -->
        <source-file src="src/android/PushInstanceIDListenerService.java" target-dir="src/com/jkmsoftware/simplenotification" />
    </platform>
</plugin>
